{% extends 'posts/home.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ post.title }}</h2>
            <small class="text-muted">{{ post.due_date }} @ {{post.due_time}}</small>
            <p class="article-content">{{ post.description }}</p>
            <div class="article-metadata">
                <div>
                    <a class='btn btn-danger btn-sm mt-1 mb-1 ' href='{% url 'delete' post.id %}'>Delete  task</a>
                </div>
            </div>
        </div>
    </article>
{% endblock content %}
{% block create %}
    
{% endblock create %}